.carousel-indicators [data-bs-target] {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: transparent;
  margin: 1px -1px;
  border: 1px solid white;
  opacity: 1;
  transition: border-color 0.3s ease;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin-top: -0.7px;
  background-color: white;
}

.carousel-indicators [data-bs-target]:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.carousel-indicators {
  bottom: 20px;
}
